// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing {

   background: image-url("landing2.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  margin-bottom: 0px;
}

.btn-landing:hover {

	background: none;
	border-color: white;
}

.navbar {

	margin-bottom: 0px;
}

.landing-banner{

	padding-top: 130px;
}